html {
    background-image:url("https://shahraranews.ir/files/fa/news/1399/1/28/104389_626.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: black;
}
